<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ARPrint Photo</title>

    <link rel="stylesheet" href="css/photo.css">
</head>

<body>

    <header>
        <nav>
            <input type="checkbox" id="nav" class="hidden">
            <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
            </label>
            <div class="logo">
                <a href="/">ARPrint</a>
            </div>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/search">Search Artist</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/cart">Purchase</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="space">

        <main>
            <section>
                <a class="removeLink" href="/artist?userId=<%- user[0]._id %>">
                <h1><span id="photog"><%- user[0].profile.name %></span></h1>
                </a>
                <h4 id="location"><%- user[0].profile.location %></h4>
                <p id="description"><%- user[0].profile.bio %></p>
                <p>Photo Description: <%- photo.caption %></p>
                <p>Price: $<%- photo.price %></p>
                <section class="arCon">
                    <a id="ar" href="/ar?photoId=<%- photo._id %>">View in AR</a>
                </section>
            </section>

            <section>
                <div id="container">
                    <div id="inner">
                        <img src="uploads/<%- photo.photo %>" alt="">
                    </div>
                </div>

            </section>

        </main>
        <section class="frameOptions">
            <section class="border">
                <h5>Choose A Frame</h5>
                <button id="noBorder">None</button>
                <button id="white">White</button>
                <button id="black">Black</button>
                <input id="colorChoice" type="color">
            </section>
            <section class="border">
                <h5>Choose Size</h5>
                <button>4x6</button>
                <button>5x7</button>
                <button>8x10</button>
            </section>
            <section class="border">
                <h5>Choose texture</h5>
                <button>Matte</button>
                <button>Glossy</button>
                <button>Uncoated</button>
            </section>
            <section class="border">
                <h5>Add to Cart</h5>
                <button id="buy">Buy</button>
            </section>

        </section>

    </section>


    <script src="js/photo.js" type="text/javascript"></script>
</body>

</html>
