<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Account</title>

    <link rel="stylesheet" href="css/account.css">
</head>

<body>
    <header class="container">
        <nav>
            <input type="checkbox" id="nav" class="hidden">
            <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
            </label>
            <div class="logo">
                <a href="/">ARPrint Shop</a>
            </div>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/artist">Search Artist</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/cart">Purchase</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <% if (user.email) { %>
            <section class="userInfo">
                <h1>Welcome <span><%- user.profile.name %></span></h1>
                <section id="infoDisplay">
                    <section>
                        <img src="<%- user.profilePhoto() %>" class='profile' id="userPic" height='100'>
                    </section>
                    <section>
                        <p>Location: <%- user.profile.location %></p>
                        <p>Bio: <%- user.profile.bio %></p>
                        
                    </section>
                </section>
              <% } %>
            </section>
            <section class="edit" role='form'>
                <h1>Edit Info</h1>
                <input type='hidden', name='_csrf', value=_csrf>
                <form id="infoForm" action="/account/profile" enctype="multipart/form-data" method="post">
                    <img src="<%- user.profilePhoto() %>" class='profile' height='100'>
                    <label for="myFile">User Profile Picture: </label>                
                    <input type='file' name='myFile' value='user.profile.picture' required="required">
                    <label for="name">Name: </label>
                    <input type="text" name="name" required="required" value="">
                    <label for="location">Location: </label>
                    <input type="text" name="location" value="" required="required">
                    <label for="bio">Bio: </label>
                    <input type="text" name="bio" value="" required="required">
                    <input class="btnN" id="userPhoto" type="submit" value="Upload">
                </form>
            </section>
            <button type="button" name="button" id="editBtn">Edit</button>
      
            <section role='form' class="photoUpload">
              <h1 id="addHead">Add A Photo</h1>
              <input type='hidden', name='_csrf', value=_csrf>
              <form class="add edit" action="/account/photo" role='form' enctype="multipart/form-data"  method="post">
                    <input type='file' name='photo' value=user.profile.picture>
                    <input type="text" name="caption" value="" placeholder="Caption">
                    <input type="text" name="keywords" value="" placeholder="Keywords (portrait, minimal, landscape)">
                    <input type="number" name="price" placeholder="Price $">
                    <input class="btnN" id="addPhoto" type="submit" value="Upload">
              </form>
            </section>
        </section>
        <section class="gallDisplay">
            <% for(var i=0; i < photos.length; i++) {%>
                <section>
                    <img src="uploads/<%- photos[i].photo %>">
                </section>
            <% } %>
        </section>
    </main>

    <script type="text/javascript" src="js/account.js"></script>
</body>

</html>
