<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="css/account.css">
</head>

<body>
    <header class="container">
        <nav>
            <input type="checkbox" id="nav" class="hidden">
            <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
            </label>
            <div class="logo">
                <a href="/">ARPrint Shop</a>
            </div>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/artist">Artist</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/cart">Purchase</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
      <% if (user.email) { %>
      <section class="userInfo">
        <h1>Welcome <%- user.profile.name %></h1>
        <img src="<%- user.profilePhoto() %>" class='profile' height='100'>
        <p>Email: <%- user.email %></p>
        <p>Location: <%- user.profile.location %></p>
        <p>Bio: <%- user.profile.bio %></p>
        <% } %>
        <button type="button" name="button" id="editBtn">Edit Info</button>
        <section id="edit" role='form'>
            <input type='hidden', name='_csrf', value=_csrf>
            <form id="infoForm" action="/account/profile" enctype="multipart/form-data" method="post">
                <img src="<%- user.profilePhoto() %>" class='profile' height='100'>
                <label for="myFile">User Profile Picture: </label>                
                <input type='file' name='myFile' value='user.profile.picture'>
                <label for="name">Name: </label>
                <input type="text" name="name" value="">
                <label for="location">Location: </label>
                <input type="text" name="location" value="">
                <label for="bio">Bio: </label>
                <input type="text" name="bio" value="">
                <input class="btnN" id="userPhoto" type="submit" value="Upload">
            </form>
        </section>
      </section>

      <section role='form' class="photoUplad">
        <input type='hidden', name='_csrf', value=_csrf>
        <form action="#" role='form' enctype="multipart/form-data"  method="post">
            <input type='file' name='myFile' value=user.profile.picture>
            <input class="btnN" id="addPhoto" type="submit" value="Upload">
        </form>
      </section>
    </main>

    <script type="text/javascript" src="js/account.js"></script>
</body>

</html>
