<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ARprint Search</title>
    <link rel="stylesheet" href="css/search.css">
</head>

<body>
    <header class="container">
        <nav>
            <input type="checkbox" id="nav" class="hidden">
            <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
            </label>
            <div class="logo">
                <a href="/">ARPrint</a>
            </div>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/search">Search Artist</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/cart">Purchase</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="intro">
        <h1>Find Artist</h1>
    </section>
    <main>
        <% for(var i=0; i < user.length; i++) {%>
            <% if (user[i].profile.picture !== "") {%>
            <a class="removeLink" href="/artist?userId=<%- user[i]._id %>">
            <section class="align">
                <section>
                    <h2><span id="nameH"><%- user[i].profile.name %></span></h2>
                    <section id="userImgCon">
                        <img src="uploads/<%- user[i].profile.picture %>">
                    </section>
                </section>
                <section>
                    <h2><img id="loc" src="images/location.png"> <%- user[i].profile.location %></h2>
                    <p><%- user[i].profile.bio %></p>
                </section>
            </section>
            </a>
            <% } %>
        <% } %>
    </main>

    <script src="js/search.js" type="text/javascript"></script>
</body>

</html>